/*CSS Reset*/
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    text-decoration: none;
    letter-spacing: 1px;
}
/*Variáveis para as cores utilizadas*/
:root {
    --color-basic-white: #ffffff;
    --color-bg-main: #000100;
    --color-bg-button: #5A189A;
    --color-bg-button-hover: #47147A;
    --color-bg-button-active: #380B65;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--color-bg-main);
    color: var(--color-basic-white);
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 40px;
    padding: 100px 40px;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    text-align: center;
}
/*Importar fonte do diretório - Inter Regular*/
@font-face {
    font-family: Inter_Regular;
    src: local(Inter_Regular), url(../font/Inter_Regular.ttf)
}
/*Importar fonte do diretório - Inter SemiBold*/
@font-face {
    font-family: Inter_Semibold;
    src: local(Inter_SemiBold), url(../font/Inter_SemiBold.ttf)
}
/*Seletor de classe para a fonte - Inter Regular*/
.font__inter-regular {
    font-family: Inter_Regular;
}
/*Seletor de classe para a fonte - Inter SemiBold*/
.font__inter-semibold {
    font-family: Inter_Semibold;
}