/*Cabeçalho e corpo*/
.full__header, .main__section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
/*Foto do Augusto Lima Camarano no cabeçalho*/
.header__figure, .header__figure-img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}
/*Bloco genérico contendo nome e área de atuação - tag <div> contendo tags <h1> e <h2>*/
.header__title {
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
/*Nome - Augusto Lima Camarano - <h1>*/
.header__title-h1 {
    font-size: 3.3rem;
}
/*Bloco genérico para o subtítulo*/
.header__title div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}
/*Área de atuação - Front-end Developer \\ UI/UX Designer \\ Atleta - <h2>*/
.header__title-h2 {
    font-size: 1.6rem;
}
/*Lista ordenada para os botões*/
.section__button {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
/*Item da lista ordenanda - <li> para cada botão*/
.section__button-li {
    width: 280px;
    height: 50px;
    border-radius: 5px;
    background-color: var(--color-bg-button);
}
/*Imagem dentro do botão - ícone da rede social ou site*/
.section__button-figure, .section__button-figure img {
    width: 25px;
    height: 25px;
}
/*Para usuários desktop - ao passar o mouse sobre o botão - altera a cor de fundo*/
.section__button-li:hover {
    background-color: var(--color-bg-button-hover);
}
/*Para usuários desktop - ao clicar com o mouse no o botão - altera a cor de fundo*/
.section__button-li:active {
    background-color: var(--color-bg-button-active);
}
/*Âncora para o botão, levando para cada rede social ou site - <a>*/
.section__button-a {
    width: 280px;
    height: 50px;
    border-radius: 5px;
    padding: 12.5px 15px;
    font-size: 1.6rem;
    color: var(--color-basic-white);
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
}
/*Rodapé*/
.full__footer {
    width: 240px;
}
/*Copywriting - © 2024 alcamarano. Todos os direitos reservados. - <p>*/
.footer__copy {
    font-size: 1.4rem;
    color: var(--color-basic-white);
}
/*Responsividade - telas com máximo de 320px*/
@media screen and (max-width: 320px) {
    .section__button-li, .section__button-a {
        width: 240px;
    }
}
/*Adaptação para usuários touch screen (mobile) - redução do padding do body*/
@media (pointer: fine) {
    body {
        padding: 60px 40px;
    }
}