*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

p, h1 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1 { 
  text-wrap: balance;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
